
@import 'reset.css';
* {
	box-sizing: border-box;
	/*outline: solid 1px;*/
  }

body{
	font-family: "Noto Sans TC","Microsoft JhengHei","Roboto","PingFang TC","sans-serif";
	line-height: 1.5;
	/*overflow-x: hidden; (不會出現X軸)*/
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a{  color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding: 8px 32px;
}

.container{
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
}


.header{
	background-color: #AA0601;
	color: #FFFFFF;
	font-size: 20px;
	padding: 16px 0;
}

.header-wrapper{
	justify-content: space-between;
	align-items: center;
}

.header .logo{
	position: relative;
	width: 80px;
	height: 48px;
	text-indent: 101%;
	overflow: hidden;
	background-image: url("../img/logo-new_工作區域\ 1.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.header .logo a{
	display: inline-block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.header .nav-item{
    justify-content: space-between;
	align-items: center;
}

.nav-item:hover{
	background-color: #650300;
}

@media(max-width: 992px){
	.container{
		max-width: 720px;
	}

	.nav-item:hover{
		background-color: #650300;
	}
}



@media(max-width: 767px){
.header{
		padding: 0;
	}
	
	.header .logo{
		margin: 16px 12px;
	}

	.header-wrapper{
		flex-direction: column;
		align-items: flex-start;
	}

	.header .nav{
		flex-wrap: wrap;
		width: 100%;
	}

	.header .nav-item{
		text-align: center;
		width: 50%;
		border: 1px solid #FFFFFF;
	}
}


.container-sm-full{
	max-width: 1320px;
}

.banner{
    background-image: url(../img/home-header.png);
	background-size: cover;
	height: calc(100vh - 80px);
}

.banner-wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.banner h2{
    font-size: 36px;
	color: #650300;
}

.banner h1{
	font-size: 64px;
	color: #650300;
	font-weight: bold;
}

.banner .button{
	font-size: 20px;
	color: #FFFFFF;
	background: #AA0601;
	padding: 6px 12px;
	cursor: pointer;
}

.banner .button:hover{
	background: #650300;
}

@media (max-width: 992px) { 
	.banner{
		max-width: 100%;
		background-position: center;
	}
 }


@media (max-width: 576px) { 
    .banner h2{
	    font-size: 24px;
    }
	
    .banner h1{
	    font-size: 36px;
    }

}


.feature{
	background: #FBF2F2;
}

.feature h3{
	font-size: 48px;
	font-weight: bold;
	color: #650300;
	padding-top: 80px;
	padding-bottom: 24px;
	text-align: center;
}

.feature-list{
	justify-content: space-between;
	flex-wrap: wrap;
}

.feature .card{
	width: calc(25% - 18px);
	height: 100%;
	margin-bottom: 80px;
	padding: 0px 12px;
}

.feature .card-header{
	text-align: center;
}

.feature img{
	max-width: 100px;
	height: 100px;
}

.feature h4{
	font-size: 24px;
	font-weight: bold;
	color: #650300;
	padding-top: 24.08px;
	padding-bottom: 8px;
}

@media (max-width:992px){
	.feature .card{
		width: calc(50% - 12px);
		margin-bottom: 24px;
	}
}

@media (max-width:576px){
	.feature-list{
		padding-right: 14px;
		padding-left: 13px;
	}

	.feature .card{
		width: 100%;
		margin-bottom: 24px;
		padding: 0 13px;
	}
}

.classic-list{
    flex-wrap: wrap;
}

.classic-list .column{
	width: 33.33333%;
	padding-right: 12px;
	padding-left: 12px;
}

.classic-list .card{
	text-align: center;
	margin-bottom: 80px;
}

.classic h3{
	font-size: 48px;
	font-weight: bold;
	color: #650300;
	padding-top: 80px;
	padding-bottom: 48px;
	text-align: center;
}

.classic img{
	padding-bottom: 8px;
}

.classic h5{
	font-size: 48px;
	font-weight: 900;
	color: #AA0601;
	text-align: center;
}

@media(max-width:992px){
	.classic-list .column{
		width: 100%;
        max-width: 360px;
	}
    .classic-list{
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	
		padding-bottom: 80px;
	}

    .classic .card{
		margin-bottom: 24px;
		text-align: center;
	}
}

@media(max-width:576px){
	.classic .column{
		width: 100%;
		max-width: 372px;
	}
}

.cobrand{
	background-image: url(../img/index-bg.png);
	background-size: cover;
	max-width: 100%;
}


.cobrand-list{
	padding-bottom: 80px;
}

.cobrand-list .column{
	width: 50%;
}

.cobrand h3{
	font-size: 48px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 80px;
	padding-bottom: 48px;
	text-align: center;
}

.cobrand-list .cobrand-card{
	max-width: 648px;
	margin: 0px auto;
}

.card-img4-1{
	max-width: 100%;
	height: 240px;
	background-image: url(../img/home-section4-1.png);
	background-size: cover;
}

.card-img4-2{
	max-width: 100%;
	height: 240px;
	background-image: url(../img/home-section4-2.png);
	background-size: cover;
}

.cobrand h5{
	font-size: 48px;
	font-weight: 900;
	color: #AA0601;
	background-color: #FFFFFF;
	padding: 8px 0;
	text-align: center;
}

@media(max-width:992px){
	.cobrand-list{
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding-bottom: 56px;
	}

	.cobrand{
		background-image: url(../img/index-bg-md.png);
		background-size: cover;
	}
	.cobrand-list .column{
		width: 100%;
	}
    .cobrand-card{
		max-width: 696px;
		margin: 0px 36px;
		margin-bottom: 24px;
		text-align: center;
	}
}

@media(max-width:576px){
	.cobrand{
		background-image: url(../img/index-bg-sm.png);
		background-size: cover;
	}

	.cobrand-list{
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding-bottom: 56px;
	}

	.cobrand-list .column{
		width: 100%;
		max-width: 348px;
	}

	.cobrand-list .cobrand-card{
		margin: 0px auto;
		margin: 0px 13px;
		margin-bottom: 24px;
		text-align: center;
	}

	.cobrand-list .card-img4-1{
		background-image: url(../img/home-section4-1-sm.png);
	}

	.cobrand-list .card-img4-2{
		background-image: url(../img/home-section4-2-sm.png);
	}
}

.recommend-list{
	margin-bottom: 80px;
}

.recommend h3{
	font-size: 48px;
	font-weight: bold;
	color: #650300;
	padding-top: 80px;
	padding-bottom: 48px;
	text-align: center;
}

.recommend-card{
	max-width: 306px;
	border: 1px solid #DEE2E6;
	border-radius: 4px;
	box-shadow: 0px 2px 6px #00000029;
}

.recommend .column{
	padding-left: 12px;
	padding-right: 12px;
}

.recommend-body{
    padding: 16px;
}

.recommend-desc h6{
	font-weight: 500;
	padding-bottom: 8px;
}

.recommend-desc p{
	padding-bottom: 72px;
}

.recommend-time{
	color: #707070;
	font-size: 14px;
}

@media (max-width:992px){
	.recommend-list{
		flex-wrap: wrap;
		padding-bottom: 80px;
	}

	.recommend-list .column{
	    gap: 24px;
	}

	.recommend-card{
		max-width: 336px;
		padding-bottom: 24px;
	}
}

@media (max-width:576px){
	.recommend-list{
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.recommend-list .column{
		margin-bottom: 16px;
		padding: 0 13px;
	}

	.recommend-card{
		max-width: 348px;
	}
}

.contact{
	background-color: #FBF2F2;
	padding: 80px 0px;
}

.contact-ad{
	max-width: 636px;
	margin: 0 auto;
}

.contact h3{
	font-size: 48px;
	font-weight: bold;
	color: #650300;
	text-align: center;
	padding-bottom: 48px;
}

.contact p{
	font-size: 20px;
	padding-bottom: 24px;
}

label{
	display: block;
}

.form-in{
	width: 100%;
	height: 36px;
	margin-top: 8px;
	margin-bottom: 16px;
}

.form-td{
	width: 100%;
	height: 136px;
	margin-top: 8px;
	margin-bottom: 16px;
}

.in-box{
	max-width: 416px;
	margin: 0 auto;
	margin-top: 48px;
}

.contact-btn{
	display: block;
	width: 100%;
	height: 56px;
	background-color: #AA0601;
	color: #FFFFFF;
	font-weight: bold;
	padding: 16px 0px;
	border: #AA0601;
	cursor: pointer;
}

.contact-btn:hover{
	background-color: #650300;
	border: #650300;
}

@media (max-width:992px){
	.contact-ad{
		max-width: 576px;
		margin: 0 auto;
	}

	.contact h3{
		padding-bottom: 24px;
	}

	.contact p{
		font-size: 16px;
	}

	.in-box{
		max-width: 336px;
	}
}

@media (max-width:576px){
	.contact{
		padding: 40px 0px;
	}

	.contact-ad{
		max-width: 348px;
	}

	.contact h3{
		font-size: 24px;
	}

	.in-box{
		max-width: 348px;
	}
}

.footer{
	background-color: #AA0601;
	padding: 48px 0px 32px 0px;
	color: #FFFFFF;
}

.footer-ad{
    justify-content: space-between;
	flex-wrap: nowrap;	
}

.footer-nav{
	padding: 12px 0;
	gap: 48px;
}

.nav-item2:hover{
	background-color: #650300;
}

.footer-call{
	padding-bottom: 32px;
}

.material-symbols-outlined{
	vertical-align: middle;
	font-size: 48px;
	padding-right: 20px;
}

.footer-call li{
	font-size: 36px;
	padding-bottom: 8px;
}

.social-list img{
	width: 48px;
}

.social-list a{
	padding-left: 32px;
}

.copyright{
	border-top: 1px solid #FFFFFF;
	padding-top: 32px;
	justify-content: space-between;
}

.privacy-list{
	font-size: 14px;
}

.privacy-list a{
	padding-left: 48px;
}

@media(max-width:992px){
	.footer{
		padding: 48px 0px 40px 0px;
	}

	.social-list a{
		padding-left: 16px;
	}

	.social-list img{
		width: 40px;
	}
}

@media(max-width:768px){
	.footer{
		padding: 24px 13px 24px 14px;
	}

    .footer-nav{
	    display: none;
    }

	.footer-call{
		padding-bottom: 24px;
	}

	.footer-call li{
		font-size: 16px;
	}

	.material-symbols-outlined{
		font-size: 24px;
		padding-right: 10px;
	}

	.social-list img{
		width: 18px;
	}

	.social-list a{
		padding-left: 8px;
	}

    .copyright{
        padding-top: 16px;
		flex-direction: column;
		flex-wrap: nowrap;
    }

	.privacy-list{
		font-size: 16px;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.privacy-list a{
		padding-left: 0px;
	}
}

.d-flex{
	display: flex;
}

.row{
	margin-left: -12px;
	margin-right: -12px;
}
